body {
    background-color:#1F7AFF; 
    color: white; 
    font-family: "Georgia", Garamond, serif;
    line-height: 1.5em;
    padding:3vw;
}

table { 
    border-collapse: collapse;
    border:.5vw solid white;
    margin:auto;
    
}
th, td {padding: 1em; }

tr:nth-child(odd) {
    background-color:#827d7d; 
    color: white; 
    }
