
body {
background-color: navy;
color: white;
font-family: arial, helvetica, sans-serif;
}
ol {list-style-type: lower-alpha;
padding: 5em;
    
}

section.flex {
   background-color:lightgrey;
     display:flex;  
     border: 50px solid black;
     width: auto;
  height: 50%;
  }
  
  table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}